.photo {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 20px;
}
.main {
    background-image: url("background.svg");
    margin: 20px auto;
    height: 583px;
    width: 393px;
  }

a.App-link {
    color: #000;
    font-weight: bold;
}